ul, ul li { width: 100%; float: left; list-style: none; }
ul li:hover { background-color: green; color: green; }

/*input, button
 display inline
 float left
 width: 100%;
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;*/

/*@import url(http://fonts.googleapis.com/css?family=Cabin:400);*/

body{	
    color: #f1f1f1;
    background: #151515;
    font-family: 'Cabin', helvetica, arial, sans-serif;
}

form {
    display: table;
    margin: 0 auto;
    width: 320px;
    position: relative;
}

form:before,
form:after { content: ''; display: block; height: 1px; position: absolute; width: 320px; }
form:before { top: 152px; background: #444; background: -webkit-linear-gradient(left, #151515, #444, #151515); background: -moz-linear-gradient(left, #151515, #444, #151515); background: -o-linear-gradient(left, #151515, #444, #151515); background: -ms-linear-gradient(left, #151515, #444, #151515); background: linear-gradient(left, #151515, #444, #151515); }
form:after { top: 153px; background: #000; background: -webkit-linear-gradient(left, #151515, #000, #151515); background: -moz-linear-gradient(left, #151515, #000, #151515); background: -o-linear-gradient(left, #151515, #000, #151515); background: -ms-linear-gradient(left, #151515, #000, #151515); background: linear-gradient(left, #151515, #000, #151515); }

/*.webdesigntuts-workshop form {
    background: #111;
 background: -webkit-linear-gradient(#1b1b1b, #111);
 background: -moz-linear-gradient(#1b1b1b, #111);
 background: -o-linear-gradient(#1b1b1b, #111);
 background: -ms-linear-gradient(#1b1b1b, #111);
 background: linear-gradient(#1b1b1b, #111);
 border: 1px solid #000;
 border-radius: 5px;
 box-shadow: inset 0 0 0 1px #272727;
 display: inline-block;
 font-size: 0px;
 margin: 150px auto 0;
 padding: 20px;
 position: relative;
 z-index: 1;
}*/

form input {
    color: #888;
    margin: 0 0 5px 0;
    padding: 0 10px;
    width: 300px;
}

form input::-webkit-input-placeholder {
    color: #888;
}

form input:-moz-placeholder {
    color: #888;
}

form input:focus {
    -webkit-animation: glow 800ms ease-out infinite alternate;
    -moz-animation: glow 800ms ease-out infinite alternate;
    -o-animation: glow 800ms ease-out infinite alternate;
    -ms-animation: glow 800ms ease-out infinite alternate;
    animation: glow 800ms ease-out infinite alternate;
    background: #222922;
    background: -webkit-linear-gradient(#333933, #222922);
    background: -moz-linear-gradient(#333933, #222922);
    background: -o-linear-gradient(#333933, #222922);
    background: -ms-linear-gradient(#333933, #222922);
    background: linear-gradient(#333933, #222922);
    border-color: #393;
    box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    color: #efe;
    outline: none;
}

form input:focus::-webkit-input-placeholder,
form input:focus:-moz-placeholder {
    color: #efe;
}

form button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    border-left-color: #000;	 
    color: #fff;
    line-height: 40px;
    margin: 25px 0 0 0;
    padding: 0;
    position: relative;
    width: 320px;
    clear: both;
}

form button:hover,
form button:focus {
    background: #292929;
    background: -webkit-linear-gradient(#393939, #292929);
    background: -moz-linear-gradient(#393939, #292929);
    background: -o-linear-gradient(#393939, #292929);
    background: -ms-linear-gradient(#393939, #292929);
    background: linear-gradient(#393939, #292929);
    color: #5f5;
    outline: none;
}

form button:active {
    background: #292929;
    background: -webkit-linear-gradient(#393939, #292929);
    background: -moz-linear-gradient(#393939, #292929);
    background: -o-linear-gradient(#393939, #292929);
    background: -ms-linear-gradient(#393939, #292929);
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 1px;
}

form small {
    display: inline;
    float: left;
    margin: 14px 0 0 5px;
}

form .field {
    background: #222;
    background: -webkit-linear-gradient(#333, #222);
    background: -moz-linear-gradient(#333, #222);
    background: -o-linear-gradient(#333, #222);
    background: -ms-linear-gradient(#333, #222);
    background: linear-gradient(#333, #222);
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    display: inline;
    float: left;
    height: 40px;


    font-size: 13px;
    font-weight: 400;


    text-shadow: 0 -1px 0 #000;


}

form .field.min {
    width: 60px;
}

form p { width: 100%; float: left; display: inline; text-align: center; font-size: small; }

@-webkit-keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-moz-keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-o-keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-ms-keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}
